* {
 margin: 0;
 padding: 0;
}

body {
  margin-top: 20px;
  background-color: #F3F3F1;
  font-family: Verdana, Geneva, sans-serif;
}
.container {
  display: grid;
  min-height: 100%;
  grid-template-columns: 50px 1fr 1fr 20px;
  grid-template-rows: 75px 50px auto 150px;
  grid-template-areas:
  ". title_cont ling2 ."
  ". nav nav ."
  ". content content ."
  "footer footer footer footer"
}

  .title_cont {
    grid-area: title_cont;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto;
  }

    .title_cont .title {
      align-self: end;
      grid-column: 2;
      color: #0C5247;
      white-space: nowrap;
    }

    .title_cont .logo {
      align-self: end;
      grid-column: 1;
      margin-bottom: 5px;
      margin-left: 10px;
    }

  .ling2 {
    grid-area: ling2;
    justify-self: end;
  }

    .ling2 a {
      height: 50px;
      width: 200px;
    }

  .nav {
    grid-area: nav;
    display: grid;
    grid-template-columns: repeat(7, auto) 40%;
    grid-auto-flow: row;
    border-bottom: 2px solid #0C5247;
  }

    .nav .box {
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: 48px;
      background-color: inherit;
    }

    .nav .box > a {
      padding: 10px;
      align-self: end;
      justify-self: start;
      text-decoration: none;
      color:  #0C5247;
      white-space: nowrap;
    }

    .nav .box > a:hover {
      background-color: #0C5247;
      color: #F3F3F1;
      box-shadow: 0 -2px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .home {
      grid-column: 1;
    }

    .ling_prog {
      grid-column: 2;
      }

    .events {
      grid-column: 3;
    }

    .pubs {
      grid-column: 4;
    }

    .ling_list {
      grid-column: 5;
    }

    .contact {
      grid-column: 6;
    }

    .resources {
      grid-column: 7;
      cursor: pointer;
    }

   .box div {
      height: inherit;
      width: inherit;
      visibility: hidden;
      opacity: 0;
      transition: all 0.5s ease;
      left: 0
      display: none;
    }

    .box:hover > div,
    .box div:hover {
      visibility: visible;
      opacity: 1;
      display: inline-block;
      z-index: 999;
    }

    .box div > a {
      padding: 5px;
      width: inherit;
      display: inline-block;
      text-decoration: none;
      background-color: #e0e0d9;
      color: #0C5247;
      border-left: 2px solid #0C5247;

    }

    .box div > a:hover {
      background-color: #0C5247;
      color: #F3F3F1;
    }

    .one > a {
      border-top: 2px solid #0C5247;
    }

  .content {
    grid-area: content;
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: auto auto;
    margin-bottom: 30px;
  }

    .content .mission {
      grid-column: 1;
      padding-top: 5%;
    }
    .content .mission div div {
      width:80%;
      border:1px solid black;
      padding:20px;
      margin-right:90px;
      background-color: #c3d7c1;
    }
    .content .issues {
      grid-column: 1;
      padding-top: 5%;
      display: grid;
      grid-template-columns: 30% 70%;
    }
    .issues .sidebar {
      grid-column: 1;
      display: grid;
      grid-template-rows: repeat(11, auto);
      border:1px solid black;
      padding:20px;
      margin-right:90px;
      background-color: #c3d7c1;
      text-align: center;
    }
    .content .feed {
      grid-column: 2;
      padding: 10%;
      justify-self: end;
    }

    .content .constitution {
      grid-column: 1;
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: 48px;
    }

    .content .constitution a {
      padding: 10px;
      align-self: end;
      justify-self: start;
      text-decoration: none;
      color:  #F3F3F1;
      background-color: #0C5247;
      white-space: nowrap;
    }

    .content .constitution a:hover {
      box-shadow: 0 -2px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    }

  .footer {
    grid-area: footer;
    grid-row-start: 4;
    grid-row-end: 5;
    display: grid;
    grid-template-columns: 50px 170px auto;
    grid-template-rows: 100%;
    background-color: #222;
  }

    .footer .footer_logo {
      grid-column: 2;
      grid-row: 1;
      align-self: center;
      height: 110;
      width: 150;
      padding-bottom: 15%;
    }

    .footer .footer_logo a, .footer_logo a img {
      height: inherit;
      width: inherit;
    }

    .footer .gmu {
      grid-column: 3;
      grid-row: 1;
      align-self: center;
      color: #F3F3F1;
    }
